@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Play', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

a { 
    width: 100%;
    text-decoration: none;
    color: black;
    line-height: 40px;

}

li a {
    display: inline-block;
  /*   width:100%; */
}

li a:hover {
    color: #ffffff;
}

ul {
    /* display: block; */
    list-style: none;
    height: 160px;
    width: 400px;
    background-color: #dbe1e2;
    box-shadow: 20px 25px 37px 0px rgba(0,0,0,0.6);
    margin: 20px;
   
}

li:nth-child(1) a {
    border-left: 6px solid #5366c3;    
}

li:nth-child(2) a {
    border-left: 6px solid #3f83c0;
}

li:nth-child(3) a {
    border-left: 6px solid #2aa1bd;
}

li:nth-child(4) a {
    border-left: 6px solid #15bfbb;
}

li a:hover {
    
    animation-name: blend;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: alternate-reverse;



}

@keyframes blend {
    0% {
        transition: background 6s ease-out 1ms;
        width: 0;
    }
    50%{
        transition: background 6s ease-in 1ms;
        width:66%;
    }

    100% {
        transition: background 6s reverse 5s;
        width: 100%;

    }
} 

li:nth-child(1) a:hover {
    background: #5366c3;
}

li:nth-child(2) a:hover {
    background-color: #3f83c0;
}

li:nth-child(3) a:hover {
    background-color: #2aa1bd;
}

li:nth-child(4) a:hover {
    background-color: #15bfbb;
}

/* li a:hover::after {
    content:'';
    animation-name: blend;
    animation-duration: 1s;
    animation-timing-function: alternate-reverse;


}

@keyframes blend {
    100% {
        transition: background 6s ease-out 10ms;
        width: 100;
    }
    50%{
        transition: background 6s ease-in 10ms;
        width:66%;
    }

    0% {
        transition: background 6s ease-in 150ms;
        width: 0%;

    }
 */
